{% block content %}
    <h1 style="text-align: center">Bienvenue</h1>
    <p>Sélectionnez une "entité" vous posant problème dans la liste de gauche, et voyez si votre problème se trouve dans la liste des problèmes déjà rencontrés.</p>
    <p>Les problèmes arrivant en tête de liste sont les problèmes les plus fréquemment rencontrés.</p>
    <p>Vous pouvez également saisir une recherche de votre problème rencontré dans la zone de recherche située en haut de l'écran.</p>
    </br>
    <p>La base de données ne demande qu'à être complétée. N'hésitez pas à contribuer, afin d'aider votre prochain à résoudre son ou ses problèmes.</p>
{% endblock %}