<li id="root" class="jstree-open" rel="root">
    <a href="#">/</a>
    <ul>    
        {%for entite in entites %}
            <li {%if entite.problemes|length>0%}class="jstree-closed"{%endif%} id='e{{entite.id}}' rel="entite" title="Entité">
                <a href="#">{{entite.libelle}}</a>        
            </li>
        {%endfor%}
    </ul>
</li>