{%for probleme in problemes %}
    <li {%if probleme.problemeamont.problemesamont|length>0%}class="jstree-closed"{%endif%} id='p{{probleme.problemeamont.id}}'>
        <a href="#">{{probleme.problemeamont.libelle}}</a>        
    </li>
{%endfor%}