{%for probleme in problemes %}    
    <li class="
            {%if probleme.problemesamont|length>0 or probleme.solutions|length>0%} jstree-closed {%endif%}
            {%if probleme.affiche==true %} jstree-checked {%endif%}
            "
            id='p{{probleme.id}}' rel="probleme" title="Problème">
        <a href="#">{{probleme.libelle}}</a>        
    </li>
{%endfor%}