/* 
    Document   : newCascadeStyleSheet
    Created on : 17 mai 2012, 06:13:26
    Author     : Olivier
    Description:
        Description des boutons.
*/

.symfony-button-grey,
.symfony-button-green
{
    font-size: 0.85em;
    font-weight: bold;

    cursor: pointer;

    display: inline-block;
    outline: none;

    text-align:     center;
    text-transform: uppercase;

    padding: 3px 10px;

    text-shadow: 0 1px 1px rgba(0,0,0,.3);

    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    border-radius:         4px;
}

.symfony-button-grey
{
    color:       #868686;
    font-weight: normal;

    padding:    5px 10px;
    border:     solid 1px #d7d7d7;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));
    background: -moz-linear-gradient(top,  #ffffff,  #d7d7d7);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d7d7d7');
}

.symfony-button-green
{
    padding: 5px 12px;

    color: white;

    border:     solid 1px #a7da39;
    background: #a7da39;
    background: -webkit-gradient(linear, left top, left bottom, from(#a7da39), to(#6a9211));
    background: -moz-linear-gradient(top,  #a7da39,  #6a9211);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7da39', endColorstr='#6a9211');
}

