/* 
    Document   : flashes
    Created on : 17 mai 2012, 06:08:43
    Author     : Olivier
    Description:
        Description des différents messages flash.
*/

.flash-message
{
    padding: 10px;
    margin: 5px;
    margin-top: 15px;
    background-color: #ffe;
}

.error
{
    color: red;
}

