<img class="solution_ajax_work" src="{{asset('bundles/solvermain/images/indicator_snake.gif')}}"></img>
{%if solutions is defined %}
    <div id="conteneur_solutions"  style="overflow:auto; padding:10px;margin-top: 10px;  " class="ui-widget-content">
        <div id="solutions">
            {%if solutions|length>0 %}
                {%for solution in solutions  if solution.existe==true and solution.affiche==true %}
                    {%if solution.probleme is defined %}
                        <h3><a href="#">Solution au problème: {{solution.probleme.libelle}}</a></h3>
                        <div>
                            <h3>{{solution.titre}}</h3>
                            {{solution.libelle|raw}}
                        </div>
                    {%endif%}
                {%endfor%}
            {%else%}
                <h3><a href="#">Pas de solution</a></h3>
                <div></div>       
            {%endif%}
        </div>
    </div>
{%endif%}

<script>
    //initialisation de l'accordéon des solutions        
    $('#solutions').accordion({
        fillSpace:  false,
        autoHeight: false,
        collapsible:true,
        active: 'none',
    });
</script>