<h2>Liaisons</h2>

<div id="container_treeview" style="overflow: auto;min-height: 450px;">
</div>

<script>
    $(function () {
	$("#container_treeview").jstree({ 
            "html_data" : {
                "ajax" : {
                    "url" : "{{url('admin_ajax_liaisonstreeviewentitesaction')}}",
                    //"data" :    function (n) {return { id : n.attr ? n.attr("id"):0};},
                    "data" :    function (n) {
                                                if (n.attr) {
                                                    return {id:n.attr('id')};
                                                }
                                                else {
                                                    return "";
                                                }                                                
                                             },
                    }
            },
            "plugins" : [ "themes", "ui", "html_data", "hotkeys","crrm", "contextmenu" ],
            "core": {'animation':100},
            "contextmenu": {"select_node": true,
                            "show_at_node":false,
                           },
            "themes": {"theme": "default",
            
                      },
	});        
    });
    
    $(function() {
        $("#container_treeview").bind('rename.jstree', function(e, data){
            rename (e,data);
        });
    });
    
    //$(function(){
    //    $("#container_treeview").jstree.click(function(){
    //            alert("clic");
    //        });
    //});
    
    function rename(e, data)
    {
     if(data.rslt.new_name!=data.rslt.old_name)
     {
         //alert('on renomme');
         //alert(data.args[0].attr("id"));
         var id=data.args[0].attr("id");
         var libelle=data.rslt.new_name;
         $.ajax({   async:false,
                    type: 'POST',
                    url: '{{url('admin_ajax_liaisonstreeview_RenameThing')}}',
                    data: { 'id': id,
                            'libelle': libelle,
                          },
                    success: function(data, textStatus, jqXHR) 
                             {
                                 //rafraichissement de tous les noeuds ayant le même id
                                 $("#container_treeview li").each(function(){
                                     id2=$(this).attr("id");
                                     if(id2==id)
                                        {
                                            valins=$(this).children("a").chidren("ins");
                                            $(this).children("a").html(valins+libelle);
                                        }
                                     });
                        
                             },                        
                    error:  function (jqXHR, textStatus, errorThrown)
                            {
                             $.jstree.rollback(data.rlbk);  
                            }             
             });
     }
     else
     {
      //alert('on ne renomme pas');
      $.jstree.rollback(data.rlbk);
     };
    }

</script>