<h2>Détail de l'entité</h2></br>
<form id="form" action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}                    
    <button id="bouton" type=submit>Ok</button>
</form>