<h2>Le noeud racine est sélectionné</h2>
<p>
    Sélectionnez un noeud de l'arbre pour afficher les détails le concernant.</br>
    Effectuez un clic droit sur un noeud afin de voir les actions possibles sur celui-ci.
</p>